<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página Home</title>
</head>
<body>
<h1>Bem-vindo à Home!</h1>

<form th:action="@{/cadastro}" method="get">
    <button type="submit">Ir para Cadastro</button>
</form>
<br>
<br>
<form th:action="@{/listar}" method="get">
    <button type="submit">Ir para Listar</button>
</form>
<br>
<br>
<form th:action="@{/deletar}" method="get">
    <button type="submit">Deletar</button>
</form>
<br>
<br>
<form th:action="@{/buscar}" method="get">
    <button type="submit">Buscar Por Id</button>
</form>
<br>
<br>
<form th:action="@{/alterar}" method="get">
    <button type="submit">Alterar</button>
</form>
</body>
</html>
